<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <div *ngIf="currentForm == 'email'" [@slideInOut]>
    <ion-row class="ion-text-center">
      <ion-col>
        <h4>Resetear contraseña</h4>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-row class="ion-text-center">
          <ion-col>
            <p>Enviaremos un correo con el código de verificación para re-establecer tu contraseña</p>
          </ion-col>
        </ion-row>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Correo Electrónico</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">Recuperar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="currentForm == 'token'" [@slideInOut]>
    <ion-row class="ion-text-center">
      <ion-col>
        <h4>Verificar código</h4>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-row class="ion-text-center">
          <ion-col>
            <p>Por favor ingresa el código de 6 digitos</p>
          </ion-col>
        </ion-row>
        <form [formGroup]="tokenForm" (ngSubmit)="validateToken()">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Código (6 digitos)</ion-label>
                <ion-input formControlName="token"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">Validar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="currentForm == 'confirm'" [@slideInOut]>
    <ion-row class="ion-text-center">
      <ion-col>
        <h4>Ingresa la nueva contraseña</h4>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-row class="ion-text-center">
          <ion-col>
            <p>Una vez re-establecida podrás acceder con la nueva contraseña</p>
          </ion-col>
        </ion-row>
        <form [formGroup]="confirmForm" (ngSubmit)="confirmReset()">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nueva Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">Confirmar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="currentForm == 'none'">
    <ion-card [@fadeIn]>
      <ion-card-header>
        <ion-card-title>Ya puedes iniciar sesión</ion-card-title>
        <ion-card-subtitle>Contraseña actualizada correctamente</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-text-center">
          <ion-col>
            <img class="check-ok animate__animated animate__fadeIn" src="/assets/check-ok.png" />
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button color="primary" expand="block" (click)="goTo('login')">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row *ngIf="currentForm != 'none'" class="animate__animated animate__fadeIn">
    <ion-col>
      <ion-button color="primary" expand="block" fill="outline" (click)="goTo('login')">Volver</ion-button>
    </ion-col>
  </ion-row>
</ion-content>