ion-content {
    --background: var(--ion-color-secondary);
}

img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

#cloud-layer {
    background-image: url(../../assets/bg-login.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
    /* background-size: cover; */
    width: 100%;
    height: 100%;
}

ion-list {
    //background: rgba(86, 86, 86, 0.52);
    background: var(--ion-color-light);
    padding: 26px;
    border-radius: 16px;
    ion-item {
        /* --color: var(--ion-color-light);
        --border-color: var(--ion-color-light); */
        --background: var(--ion-color-light);
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
