<ion-content>
  <ion-list>
    <ion-item *ngFor="let lang of langList" button (click)="selectLanguage(lang.value)">
      <ion-label>
        {{ lang.text }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-content fullscreen class="ion-padding" scroll-y="false">
  <swiper>
    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-1.png" />
        <h2>{{ 'intro.page1.title' | translate }}</h2>
        <p>{{ 'intro.page1.text' | translate }}</p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-2.png" />
        <h2>{{ 'intro.page2.title' | translate }}</h2>
        <p>{{ 'intro.page2.text' | translate }}</p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-3.png" />
        <h2>{{ 'intro.page3.title' | translate }}</h2>
        <p>{{ 'intro.page3.text' | translate }}</p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-4.png" />
        <h2>{{ 'intro.page4.title' | translate }}</h2>
        <ion-button fill="clear" (click)="goTo('login')">
          {{ 'intro.page4.text' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </swiper>
</ion-content> -->