<ion-content fullscreen class="ion-padding" scroll-y="false">
  <swiper>
    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-1.png" />
        <h2>Bienvenido</h2>
        <p>
          Texto para <b>APAPACHO APP</b> de prueba, sera reemplazado por contenido especifico al finalizar el
          diseño en su totalidad, solo a modo de prueba.
        </p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-2.png" />
        <h2>UN TITULO</h2>
        <p>
          Texto para <b>APAPACHO APP</b> de prueba, sera reemplazado por contenido especifico al finalizar el
          diseño en su totalidad, solo a modo de prueba.
        </p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-3.png" />
        <h2>OTRO TITULO</h2>
        <p>
          Texto para <b>APAPACHO APP</b> de prueba, sera reemplazado por contenido especifico al finalizar el
          diseño en su totalidad, solo a modo de prueba.
        </p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide">
        <img src="/assets/slide-4.png" />
        <h2>¿Comenzamos?</h2>
        <ion-button fill="clear" (click)="goTo('login')">Adelante <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </swiper>
</ion-content>