<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>APAPACHO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading" class="ion-text-center ion margin ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" [@slideInOut]>
    <h1 class="ion-text-center ion-padding-horizontal">{{ 'home.how_you_feel' | translate }}</h1>
    <h4 class="ion-text-center">Cuéntanos como te sientes para que podamos ayudarte y/o acompañarte</h4>
    <ion-card class="ion-padding-top">
      <ion-card-content>
        <div class="ion-text-center" *ngIf="currentState != 'unset'" [@fadeIn]>
          <img class="ion-margin ion-padding" [src]="currentImage" />
          <ion-button expand="block" (click)="resetState()">{{ 'home.update_button' | translate }}</ion-button>
        </div>
        <div *ngIf="currentState == 'unset'" [@fadeIn]>
          <ion-list>
            <ion-item button (click)="changeState('happy')">
              <ion-label>{{ 'state.happy' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('neutral')">
              <ion-label>{{ 'state.neutral' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('sad')">
              <ion-label>{{ 'state.sad' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('love')">
              <ion-label>{{ 'state.love' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('anxious')">
              <ion-label>{{ 'state.anxious' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('optimistic')">
              <ion-label>{{ 'state.optimistic' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('pessimistic')">
              <ion-label>{{ 'state.pessimistic' | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="changeState('frustrated')">
              <ion-label>{{ 'state.frustrated' | translate }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="currentState != 'unset'" [@fadeIn]>
      <ion-card-header>
        <ion-card-subtitle>{{ 'home.subtitle' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'home.title' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed mattis sapien, sed tincidunt mi. In
          pulvinar aliquam est, ut volutpat velit iaculis at.</p>
        <p>Nam dignissim nunc urna, a venenatis nunc venenatis sagittis. Integer euismod dui ex, eget ultricies velit
          condimentum non. In sed lorem purus. Cras tempus ac magna pellentesque porta. Pellentesque volutpat volutpat
          nisi et aliquam. Aenean quis vulputate leo. Mauris dapibus tellus in magna cursus, et pulvinar lacus posuere.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-button expand="block" routerLink="/services-page">{{ 'home.talk_now' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>