<ion-content>
  <ion-row class="ion-text-center">
    <ion-col>
      <h4>{{ 'register.title' | translate }}</h4>
    </ion-col>
  </ion-row>
  <ion-card [@slideInOut]>
    <ion-card-content>
      <form [formGroup]="mainForm" (ngSubmit)="register()">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'profile.alias' | translate }}</ion-label>
              <ion-input formControlName="alias"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.firstname' | translate }}</ion-label>
              <ion-input formControlName="firstname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.lastname' | translate }}</ion-label>
              <ion-input formControlName="lastname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'profile.birthday' | translate }}</ion-label>
              <ion-input type="date" formControlName="birthday"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'profile.birthday_hour' | translate }}</ion-label>
              <ion-input type="time" formControlName="birthday_hour"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.phone' | translate }}</ion-label>
              <ion-input type="tel" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.address' | translate }}</ion-label>
              <ion-input formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.email' | translate }}</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'profile.password' | translate }}</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'register.accept_tos' | translate }}</ion-label>
              <ion-checkbox slot="end" formControlName="tos"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit" color="primary" expand="block">{{ 'register.create_button' | translate }}</ion-button>
            <p (click)="openToS()">{{ 'register.text_tos' | translate }}</p>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="currentForm != 'none'" class="animate__animated animate__fadeIn">
    <ion-col>
      <ion-button color="primary" expand="block" fill="outline" (click)="goTo('login')">{{ 'general.back' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
